*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #161616;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 30px;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
#main h1{
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 120px;
    width: 70%;
    margin-left: 20%;
    position: relative;
    z-index: 99;
}
#main h1:nth-child(2){
    margin-top: 100px;
}
#main h1:nth-child(3){
    text-align: center;
}
#main h1:nth-child(4){
    text-align: center;
}
img{
    height: 400px;
    position: absolute;
    top: 20%;
    left: 40%;
}
#img1{
    rotate: 0deg;
}
#img2{
    rotate: 8deg;
}
#img3{
    rotate: 16deg;
}
