*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: salmon;

}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(79, 255, 21);

}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: rgb(55, 0, 255); */
    background-color: rgb(255, 55, 55);
}
#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

